@inject IJSRuntime JS
@inject IStringLocalizer<SharedResource> L

<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<MudCard>
    <MudCardContent>
        <div id="grid"></div>
    </MudCardContent>
</MudCard>